* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
html,
body {
  width: 100%;
  height: 100%;
}
#cursor {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: fixed;
  z-index: 99;
  background-color: #dbe210f0;
}
#cursor-blur {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  position: fixed;
  background-color: #cfd61255;
  filter: blur(40px);
  z-index: 9;
}
#nav {
  height: 140px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 120px;
  gap: 40px;
  position: fixed;
  justify-content: flex-start;
  z-index: 99;
}
#nav img {
  height: 80px;
}
#nav h4 {
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}
video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}
#main {
  position: relative;
  background: rgba(0, 0, 0, 0.37);
}

#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 10;
}
#page1 h1 {
  font-size: 5rem;
  font-weight: 900;
  position: relative;
}
#page1 h1::before {
  content: "Dream. Persevere. Achieve.";
  position: absolute;
  color: black;
  top: -4px;
  left: -4px;
  -webkit-text-stroke: 2px #ccd214f0;
  z-index: -1;
}
#page1 h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 20px;
}
#page1 p {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0.5rem;
  width: 50%;
}

#page2 {
  min-height: 100vh;
  width: 100%;
  z-index: 10;
}

#scroller {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
}
#scroller::-webkit-scrollbar {
  display: none;
}
#scroller-text {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 30s linear infinite;
}
#scroller h2 {
  color: transparent;
  display: inline-block;
  font-size: 4.5rem;
  font-weight: 800;
  font-family: gilroy;
  margin-right: 10px;
  transition: all linear 0.5s;
  -webkit-text-stroke: 1px #ccd214f0;
}
#scroller h2:hover {
  color: #ccd214f0;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

#about {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 30px;
  position: relative;
  z-index: 10;
}
#about img {
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
}
#about-us {
  width: 40%;
  text-align: center;
}
#about-us h3 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 2rem;
}
#about-us p {
  font-size: 1.1rem;
  line-height: 24px;
}

#cards-container {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  position: relative;
  z-index: 10;
}
.card {
  height: 80%;
  width: 25%;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: all ease 0.6s;
}
#card1 {
  background-image: url(https://us.123rf.com/450wm/gorodenkoff/gorodenkoff2311/gorodenkoff231102257/219204027-focused-shot-on-a-heavy-barbell-with-the-body-of-a-strong-woman-lifting-it-in-the-background-an.jpg?ver=6);
}
#card2 {
  background-image: url(https://steelsupplements.com/cdn/shop/articles/shutterstock_1298459380_1600x.jpg?v=1587914500);
}
#card3 {
  background-image: url(https://fwmedia.fandomwire.com/wp-content/uploads/2023/05/26034039/Henry-Cavill-workout.webp);
}
.overlay {
  height: 100%;
  width: 100%;
  background: #dbe210f0;
  padding: 3rem;
  padding-top: 6rem;
  opacity: 0;
  transition: all ease 0.6s;
}
.overlay h4 {
  color: #000;
  font-size: 2.8rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  font-weight: 800;
}
.overlay p {
  color: #000;
  font-size: 18px;
}
.card:hover .overlay {
  opacity: 1;
}
.card:hover {
  transform: rotate3d(-1, 1, 0, 15deg);
}

#banner {
  height: 30vh;
  width: 100%;
  background-image: url(https://t3.ftcdn.net/jpg/03/86/34/64/360_F_386346461_ycljRSlIn3X54bITkN6YD8jlL8gjtinh.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 60%;
  position: relative;
  z-index: 10;
}
#banner h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
}
#banner button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
}
#banner button:hover {
  background: #dbe210f0;
  color: #000;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all ease 0.5s;
}

#page3 {
  height: 100vh;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#page3 > p {
  font-size: 35px;
  font-weight: 700;
  width: 65%;
  line-height: 45px;
  text-align: center;
}
#page3 img {
  position: absolute;
  height: 80px;
}
#page3 #colon1 {
  top: 25%;
  left: 10%;
  rotate: -20deg;
}
#page3 #colon2 {
  bottom: 25%;
  right: 10%;
  rotate: -20deg;
}

#page4 {
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  position: relative;
}
#page4 h1 {
  font-size: 5rem;
  font-weight: 900;
  text-transform: uppercase;
  position: absolute;
  top: 1%;
  color: #000;
  -webkit-text-stroke: 2px white;
}

.elem {
  height: 60%;
  width: 26%;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}
.elem h2 {
  height: 100%;
  width: 100%;
  background-color: #dbe210f0;
  text-transform: uppercase;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #000;
  font-weight: 800;
  position: absolute;
  transition: all ease 0.5s;
  z-index: 10;
}
.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.5s;
  scale: 1.1;
}
.elem:hover h2 {
  color: white;
  background-color: transparent;
}
.elem:hover img {
  scale: 1;
}

#footer {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #d0d017;
  gap: 3rem;
  position: relative;
  padding: 3rem;
  z-index: 10;
}

#logo {
  margin-right: 20px;
  margin-left: 20px;
}

#logo img {
  width: 100px;
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  margin-right: 10px;
  font-size: 22px;
}

.fa-instagram{
  color: red;
}
.fa-facebook{
  color: blue;
}
.fa-x-twitter{
  color: black;
}

.social-links a:hover {
  color: #fff;
  scale: 1.5;
}

.tags {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.tags a {
  text-decoration: none;
}

.tags h4 {
  margin-bottom: 10px;
  color: #000;
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
}

.tags h4:hover {
  color: #fff;
}

.address {
  text-align: start;
}

.address h4 {
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: 400;
  color: #000;
}

.address h2 {
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
}

.copyright p {
  position: absolute;
  bottom: 10px;
  left: 10%;
  font-size: 15px;
  color: #000;
}
